/* body style */

body{
    background-color: aliceblue;
}

/* shared style */

section{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 140px;
}

.section-title{
    font-size: 3.12rem;
    font-weight: 700;
}


.sub-title{
    color: rgb(233, 90, 8);
    margin-bottom: 16px;
}

.section-paragraph{
    font-size: 1.38rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.display-flex{
    display: flex;
}

.inter-font {
  font-family: "Inter", sans-serif;
  
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
}

.text-dark-01{
    color: rgb(137, 135, 161);
}

.text-dark-02{
    color: rgb(37, 36, 50);
}

.text-dark-03{
    color: rgb(0, 0, 0);
}

.text-dark-04{
    color: rgba(0, 0, 0, 0.5);
}

/* navbar related style */

header{
    margin-bottom: 270px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    
}



.nav-items > li{
    list-style: none;
    margin-left: 48px;
    
}

li > a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 1.5rem;
    
}


/* banner style */

.banner-container{
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 120px;
}

.banner-title{
    font-size: 4.06rem;
    font-weight: 700;
    margin-bottom: 13px;
}

#banner-sub-title{
    color: rgb(233, 90, 8);
}

.banner-paragraph{
    font-weight: 400;
    font-size: 1.48rem;
    line-height: 1.70rem;
    text-wrap: wrap;
}

/* out plants section style */


.plants-content{
    text-align: center;
}

.plants-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    cursor: pointer;
}

#card-title{
    font-size: 1.38rem;
    font-weight: 500;
    color: rgb(17, 17, 17);
    margin-bottom: 20px;
}

#card-price{
    font-size: 1.38rem;
    font-weight: 700;
    color: rgb(17, 17, 17);
    margin-bottom: 30px;
}

.plant-btn{
    font-size: 1rem;
    font-weight: 600;
    border: none;
    color: white;
    background-color: rgb(233, 90, 8);
    padding: 26px 50px;
    width: 270px;
}

/* lover plants section */

.lover-plants-container{
    display: flex;
    /* justify-content: flex-start;
    align-items: flex-start; */
    gap: 60px;
}

.lovers-plants-content-1{
    position: relative;
}

.trusted-badge {
    position: absolute;
    width: 18%;
    margin-left: -250px;
    margin-top: -150px;
}

.lovers-plants-content ul > li{
    font-size: 1.38rem;
    font-family: 400;
    margin-bottom: 15px;
    
}

/* latest deals part */



.deals-text{
    text-align: center;
}

.deals-content{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 120px;
    margin-bottom: 120px;
    
}

.bloom-plant{
    background-image: url(../assets/deal-bloom.png);
    min-height: 206px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    filter: grayscale(75%);
    margin-bottom: 30px;

    
}

.ana-plant{
    background-image: url(../assets/deal-ana.png);
    min-height: 206px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    filter: grayscale(75%);
    
}

.zabo-plant{
    background-image: url(../assets/deal-zabo.png);
    /* grid-area: 1 / 3 / 5 / 6; */
    background-size: cover;
    background-position: center;
    z-index: 0;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 442px;
    min-width: 750px;
    filter: grayscale(75%);
    
}

.discount-part-1,  h4{
    font-size: 1.25rem;
    font-weight: 900;
    
}

.discount-part-1 a{
    
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

.discount-part-2 h4{
    font-size: 2.25rem;
    font-weight: 900;
}

.discount-part-2 a{
    
    font-size: 1.35rem;
    font-weight: 700;
    color: white;
}

/* newsletter */
.subcribe-container{
    width: 100%; 
    height: 530px; 
    background-image: url(../assets/news-letter-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    margin: 0;
    
}

.subcribe-title{
    font-size: 3.125rem;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.subcribe-container [type="email"]{

    display: inline-block;
    width: 650px;
    height: 30px;
    font-size: 1rem;
    padding: 20px 30px;
    border: none;
  

}

.subcribe-btn{
    display: inline-block;
    padding: 26px 50px;
    background-color: rgb(233, 90, 8);
    border: none;
    margin-left: -5px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    
}

.footer-paragraph{
    font-size: 1.38rem;
    font-weight: 400;
}

.footer-nav-1, .footer-nav-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav-1 ul > li{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
    margin-left: 80px;
}

 .footer-nav-2 ul > li{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
    margin-left: 110px;
    
}

.footer-nav-1 li > a{
    color: rgb(107, 114, 128);
    display: inline-block;
    white-space: nowrap;
    
}

.footer-nav-2 li > a{
    color: rgb(107, 114, 128);
    display: inline-block;
    white-space: nowrap;
    
}

.footer-content-img{
    display: flex;
    gap: 32px;
}







/* Responsive for mobile device */

@media screen and (max-width: 768px) {

    body{
        
        text-align: center;
        align-items: center;
    }
    section{
        margin: 0 auto;
        margin-bottom: 120px;
    }

    .nav-container{
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    
    #nav-item{
        display: none;
        gap: 0px
    }

    

    .banner-container{
        flex-direction: column-reverse;
        
        
    }
    .banner-items img{
        width: 100%;
        align-items: center;
        margin-left: 0;
    }

    .plants-cards{
        grid-template-columns: repeat(2, 1fr);
        max-width: 340px;
        margin: 0;
        padding: 0;
        
    }

    .plants-cards img{
        width: 70%;
    }

    .plant-btn{
        background-color: rgb(233, 90, 8);
        width: 171px;
        height: 50px;
        text-align: center;
        justify-content: center;
        padding: 19px 30px;
        font-size: 1rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
    }

    .lover-plants-container{
        position: relative;
        flex-direction: column;
        overflow: hidden;
    }

    .lovers-plants-content img{
        width: 80%;
    }


    .deals-content{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        align-items: center;
        column-gap: 20px;
        
    }

    .bloom-plant,
    .ana-plant,
    .zabo-plant{
        grid-area: auto;
        min-width: 360px;
        min-height: 260px;
        row-gap: 20px;
    }

    .subcribe-container{
        min-width: 100px;
        flex-wrap:wrap;
        justify-content: center;
    }

    .subcribe-container input[type="email"]{
        display: inline-block;
        height: 14px;
        width: 40%;
        flex-wrap: wrap;
        border: none;
        
    }

    .subcribe-btn{
        
        height: 30%;
        width: 100px;
        padding: 17px 12px;
        
    }

    .footer-container{
        flex-direction: column;
         
    }

    .footer-nav-1 ul > li{
        align-items: flex-start;
        margin-left: -25px;
        text-align: left;
    }

    .footer-nav-2 ul > li{
        align-items: flex-start;
        margin-left: -25px;
        text-align: left;
    }

    .footer-nav-2{
        margin-top: -35px;
    }

   

    
    
}